---
interface Props {
	title: string;
	description: string;
	canonical: string;
	ogImage: string;
	noIndex: boolean;
}

// import { ViewTransitions } from "astro:transitions";
import { isProduction, siteUrl } from "@lib/store.js";

import Header from "@components/layouts/Header.astro";
import Footer from "@components/layouts/Footer.astro";

const { title, description, canonical, ogImage, noIndex } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Insert Google Tag Manager Here -->
		<!-- {isProduction && (
			// Insert Tracking Scripts Here
		 )} -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		{ogImage && <meta property="og:image" content={`${siteUrl}/${ogImage}`} />}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content={`${siteUrl}`} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		{canonical && <link rel="canonical" href={`${siteUrl}${canonical}`} />}
		{noIndex && <meta name="robots" content="noindex" />}
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
	</head>
	<body class="m-auto max-w-screen-xl">
		<!-- Insert Google Tag Manager Here -->
		<Header />
		<main class="min-h-screen">
			<slot />
		</main>
		<Footer />
		<script src="../../lib/pgia.js"></script>
	</body><style is:global>
		@font-face {
			font-family: "Montserrat";
			src: url("/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: "Montserrat";
			src: url("/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
			font-style: italic;
			font-display: swap;
		}

		@font-face {
			font-family: "Open Sans";
			src: url("/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
			font-style: normal;
			font-display: swap;
		}

		@font-face {
			font-family: "Open Sans";
			src: url("/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
			font-style: italic;
			font-display: swap;
		}
	</style>
</html>
